    .user-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #aaa;
        margin: 0 auto 10px auto;
        max-width: 800px;
        list-style: none;

    }

    .user-list-head {

        align-items: center;
        margin: 0 auto 10px auto;
        padding: 10px 120px;
        width: 80%;
        max-width: 800px;
        font-size: 20px;
        font-weight: 800;
        gap: 220px
    }
    .nav-list{
        display: flex;
        width: 400px;
        justify-content: space-around;
        list-style: none;
    }